.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slick-next:before, .slick-prev:before{

}
.slick-prev{
  left: 0px;
  z-index: 1;
  width: 32px;
  height: 88px;
  background-color: #fff;
  border-radius: 0 8px 8px 0;
}
.slick-next{
  right: 0px;
  z-index: 1;
  width: 32px;
  height: 88px;
  background-color: #fff;
  border-radius: 8px 0 0 8px;
}
.slick-prev:before{
  content: "\f053" !important;
  font-family: "FontAwesome";
  color: #999;
}
.slick-next:before{
  content: "\f054" !important;
  font-family: "FontAwesome";
  color: #999;
  
}
.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover{
  background-color: #fff;
}